<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
        img {
            margin: -18%;
            width: 100vw;
        }
    </style>
</head>
<body>
    <%= image_tag "Ricas Recetas.png" %>
</body>
</html>
