<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        img {
            width: -webkit-fill-available;
            height: auto;
        }
        .main {
            background-color: #dbdcdb;
        }
    </style>
</head>
<body class= "main">
    <%= image_tag "Ricas Recetas.png" %>
</body>
</html>
