* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #8f8888;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 0.8rem;
  font-weight: bold;
}

input[type="text"],
input[type="textarea"] {
  width: 60%;
  height: 1.6rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* margin-bottom: 0.2rem; */
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

ul li {
  list-style: none;
}

.flex {
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 1rem;
  gap: 10%;
  padding: 1rem;
}

.toggle_btn {
  border: none;
}
