* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  background-color: #ffa500;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: 0 1rem;
}

form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #8f8888;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 0.8rem;
  font-weight: bold;
}

input[type="text"],
input[type="textarea"] {
  width: 60%;
  height: 1.6rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
